<div class="sidebar">
    <a [routerLink]="['/track-by']" routerLinkActive="active">Trackby</a>
    <a [routerLink]="['/virtual-scrolling']" routerLinkActive="active">Virtual Scrolling</a>
    <a [routerLink]="['/graphs']" routerLinkActive="active">Graphs</a>
    <a [routerLink]="['/image-compress']" routerLinkActive="active">Image Compress</a>
    <a [routerLink]="['/cache-clear-hard-refresh-website']" routerLinkActive="active">
        Cache clear & hard refresh website</a>
    <a [routerLink]="['/grids']" routerLinkActive="active">Grids</a>
    <a [routerLink]="['/exports']" routerLinkActive="active">Exports</a>
    <a [routerLink]="['/3d-website']" routerLinkActive="active">3D Website</a>
    <a [routerLink]="['/control-value-accessor']" routerLinkActive="active">ControlValueAccessor</a>
    <a [routerLink]="['/socket']" routerLinkActive="active">Socket</a>
    <a [routerLink]="['/dom-sanitizer']" routerLinkActive="active">Dom Sanitizer</a>
    <a [routerLink]="['/postal-channel-service']" routerLinkActive="active">Postal Channel Service</a>
    <a [routerLink]="['/content-projection']" routerLinkActive="active">Content Projection</a>
    <a [routerLink]="['/firestore']" routerLinkActive="active">fire store</a>
    <a [routerLink]="['/cloud-document-uploader']" routerLinkActive="active">Cloud Uploader</a>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>