<div class="container">
    <div class="row">
        <div class="col-3 menu">
            <button type="button" class="btn btn-dark" [routerLink]="['/virtual-scrolling']">
                Virtual Scrolling
            </button>
            <button type="button" class="btn btn-dark" [routerLink]="['/track-by']">
                Trackby
            </button>
            <button type="button" class="btn btn-dark" [routerLink]="['/graphs']">
                Graphs
            </button>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>